%h1 About

%p Register for class:
%p
  %a(href='https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229  ' target='x')
    https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229
%p Calendar:
%p 2018-02-28 to 2018-05-09
%p Location: 1840 Benton St Building F Room F3 Santa Clara 95050
%p Time: Each Wednesday 7pm to 10pm

%p If you want a good place to sit, arrive five minutes early (most students are late due to traffic).
