%h1 Blog

%p 2018-02-01 Dan Bikle, bikle101@gmail.com
%p JavaScript is good technology to know:

%p
  %a(href='https://www.infoworld.com/article/3251506/it-careers/employers-want-javascript-but-developers-want-python.html' target='x')
    https://www.infoworld.com/article/3251506/it-careers/employers-want-javascript-but-developers-want-python.html

%p It is good to know Git:
%p
  %a(href='https://codeburst.io/number-one-piece-of-advice-for-new-developers-ddd08abc8bfa' target='x')
    https://codeburst.io/number-one-piece-of-advice-for-new-developers-ddd08abc8bfa
  
%p Should I learn Heroku:
%p
  %a(href='https://hackernoon.com/should-i-use-heroku-or-aws-3bfcd4706a36' target='x')
    https://hackernoon.com/should-i-use-heroku-or-aws-3bfcd4706a36
  
%hr/
