%h1 Contact
%p Dan Bikle Instructor:
%p bikle101@gmail.com
%p
  %img(src='/images/danbikle_sf.jpg')
  
%p Other Students:
%p
  %a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
    https://groups.google.com/forum/#!forum/dan101
%hr/
%p Class:
%p 1840 Benton St, Santa Clara, CA 95050 Building F
%p
  %img(src='/images/scae_map.png')
  