%h1 Contact
%p Dan Bikle Instructor:
%p bikle101@gmail.com
%p Other Students:
%p
  %a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
    https://groups.google.com/forum/#!forum/dan101
%hr/


