%h1 Links

%ul
  %li
    %a(href='https://reactjs.org/docs/hello-world.html' target='x')
      https://reactjs.org/docs/hello-world.html
  %li
    %a(href='https://reactjs.org/tutorial/tutorial.html' target='x')
      https://reactjs.org/tutorial/tutorial.html
  %li
    %a(href='http://babeljs.io/docs/editors' target='x')
      http://babeljs.io/docs/editors
  %li
    %a(href='https://download.sublimetext.com/sublime_text_3_build_3143_x64.tar.bz2' target='x')
      https://download.sublimetext.com/sublime_text_3_build_3143_x64.tar.bz2
  %li
    %a(href='https://github.com/babel/babel-sublime#installation' target='x')
      https://github.com/babel/babel-sublime#installation
  %li
    %a(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions' target='x')
      https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions
  %li
    %a(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes  ' target='x')
      https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes
  %li
    %a(href='https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en' target='x')
      https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en
  %li
    %a(href='https://addons.mozilla.org/en-US/firefox/addon/react-devtools/' target='x')
      https://addons.mozilla.org/en-US/firefox/addon/react-devtools/
  %li
    %a(href='https://reactjs.org/tutorial/tutorial.html#lifting-state-up' target='x')
      https://reactjs.org/tutorial/tutorial.html#lifting-state-up
  %li
    %a(href='https://github.com/facebook/create-react-app' target='x')
      https://github.com/facebook/create-react-app
  %li
    %a(href='https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229  ' target='x')
      https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229
  