%h1 Questions

%ul
  %li what does import do?
  %li what does this syntax do:
  %li
    .syntax
      %pre
        %code import React from 'react';
  %li what does this syntax do:
  %li
    .syntax
      %pre
        %code import './index.css';
	