%h1 Class01

%h1 Introduction

%p Welcome to JavaScript class.

%p If you want to attend lectures, signup here:

%p
  %a(href='https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229  ' target='x')
    https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229

%p If you want a good place to sit, arrive five minutes early (most students are late due to traffic).

%p
  We teach you JavaScript two different ways.
  
%h1 Lecture + Homework

%p First we offer you a lecture at the beginning of each class.

%p Each lecture should show you how to do some homework.

%p After lecture, you should try the homework covered in lecture.

%p We ask you to try the homework AFTER the lecture, not during the lecture.

%p That is the second way we teach you JavaScript.

%p Review Question: How do we teach you JavaScript?
%p Answer: We teach you JavaScript two ways:
%ul
  %li You watch lecture
  %li You do homework

%p Question: In class do I work on "Lab Exercises"?

%p: Answer: Yes, you work on your homework.
%p So, "Lab Exercises" are the same as Homework.

%p Q: When can I do Homework in class?

%p A: Usually the last 60 Minutes of class is devoted to Homework.

%h1 Laptop?
%p Q: Do I need a laptop for class?
%p A: No, we have class computers for you.
%p Q: Do I need a home-computer for Homework?
%p A: Yes.
%p Q: Should I bring my laptop to class?
%p A: Sure, bring your laptop (but the WIFI is poor).

%p Q: Can you help me setup my laptop to do JavaScript Development?
%p A: I can try, but offer no promises.
%p
  If your laptop is too defective for this class,
  I suggest you buy a new 17 inch HP laptop from costco for $600 and then replace windows with Ubuntu 16.04:
%p
  %a(href='https://www.costco.com/HP-17-Touchscreen-Laptop---AMD-A10---2GB-Graphics.product.100378481.html' target='x')
    https://www.costco.com/HP-17-Touchscreen-Laptop---AMD-A10---2GB-Graphics.product.100378481.html
    
%h1 Software?

%p Q: What software do I need to do the Homework?
%ul
  %li A:
  %li Git
  %li Heroku-CLI
  %li Node.js
  %li An editor. "Sublime Text 3" and Emacs are good choices.
  %li Optional: VirtualBox
  
%h1 Accounts?
%p Q: What accounts do I need for the Homework?
%ul
  %li A:
  %li Email-account (preferably, throwaway account)
  %li Github-account (preferably, throwaway account
  %li Heroku-account (preferably, throwaway account)

%h1 Class windows-PCs?

%p Q: Are the class windows-PCs good?
%p A: Yes, They have fast CPU, fast SSD drives, and excellent network.
%p I have observed network downloads come in at 70M/sec which is 10x better than my Comcast.

%p Q: Are the class PCs secure?
%p A: The class PCs run windows.
%p In my opinion windows is not secure.
%p Type no important passwords into class PCs.
%p Do not login to personal e-mail with class PCs.

%p Q: Can I install software on a class PC?
%p A: No, that violates school policy.

%p Q: Can I install software inside a VirtualBox running on a class PC?
%p A: Yes.


%h1 Class01 Homework

%p The last 60 minutes of each class is reserved for Homework.
%p In class you should use class PCs to do the homework.
%p At home, you should use your home-computer.
%p To copy homework between home and class, you should use github.com

%h2 Class01 Homework: VirtualBox

%p Q: How to install VirtualBox Software on class PC?
%p A: You don't; The school did this for you already.

%p Q: How to install VirtualBox Software on your home-computer?
%p A:
%ul
  %li
    Download page:
    %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
      https://www.virtualbox.org/wiki/Downloads
  %li Download correct file.
  %li Click on that file after download.

%p Q: After I install VirtualBox, how to start it?
%p A: Find the VirtualBox-icon (perhaps on your desktop), click on it.

%p Q: After I install VirtualBox, should I use the blue-New button?
%p A: No, you should AVOID the blue-New button.
%p
  %img(src='/class01/bluenew.png')

%p Q: After I install VirtualBox, should I download the training environment?
%p
  A: Yes, the training environment is here:
  %br/
  %a(href='https://drive.google.com/file/d/1uqhG7LLJl76DS6Mu8BNe5hnzX5URgXVL' target='x')
    ub16_2018_0109.ova
%p Q: How long does it take to download the OVA file over school WIFI?
%p A: About 5 hours.
%p Q: How long does it take to download the OVA file over school ethernet?
%p A: About 5 minutes.

%p Q: How long does it take to download the OVA file over Comcast?
%p A: About one to 3 hours.

%p Q: After I download the OVA, should I click on it?
%p A: Yes, this will "Import" the training environment?

%p Q: After Import, how to start the training environment?
%p A: VirtualBox offers a green-start-button:
%p
  %img(src='/class01/bluenew.png')

%p Q: On windows does the green-start-button often fail?
%p
  A: Yes, the green-start-button might fail.
  %br/
  You might need to enable virtualization.
  %br/
  You enable virtualization via software called: "BIOS"
  %br/
  More info:
  %br
  %a(href='https://www.google.com/search?q=With+BIOS+how+to+enable+Virtualization' target='x')
    https://www.google.com/search?q=With+BIOS+how+to+enable+Virtualization
  %br/
  %a(href='https://www.google.com/search?tbm=isch&q=With+BIOS+how+to+enable+Virtualization' target='x')
    https://www.google.com/search?tbm=isch&q=With+BIOS+how+to+enable+Virtualization
  %br/
  %a(href='https://www.google.com/search?tbm=vid&q=With+BIOS+how+to+enable+Virtualization' target='x')
    https://www.google.com/search?tbm=vid&q=With+BIOS+how+to+enable+Virtualization

%p Q: Can I use windows to do JavaScript development?
%ul
  %li A:
  %li You can try; many people do JavaScript development on windows.
  %li But, windows is optimal for developing windows software; not JavaScript software.
  %li If you are new to JavaScript, Linux makes it easier; windows makes it harder.
  %li For JavaScript development, Mac is like Linux but much more expensive.
  %li Mac is useful for developing JavaScript destined for iPhones.

%p Q: After I start the training-env, how to login?
%p
  A: You should see a login screen for an account called: "ann"
  %br/
  The password is: "a"
%p
  %img(src='/class01/login.png')

%h2 Class01 Homework: Accounts

%p Q: How to create a throw-away e-mail address?
%ul
  %li A: You can get a throw-away e-mail address at one of these sites:
  %li
    %a(href='https://gmail.com' target='x')
      https://gmail.com
  %li
    %a(href='https://outlook.com' target='x')
      https://outlook.com
  %li
    %a(href='https://mail.yahoo.com' target='x')
      https://mail.yahoo.com
  %li
    %a(href='https://aol.com' target='x')
      https://aol.com
  %li No phone required but sometimes unreliable:
  %li
    %a(href='https://mail.com' target='x')
      https://mail.com
%p Q: How to create a throw-away Github account?
%p A: Use a throw-away e-mail address to register:
%p
  %a(href='https://github.com/join' target='x')
    https://github.com/join
  
%p Q: How to create a throw-away Heroku account?
%p A: Use a throw-away e-mail address to register:
%p
  %a(href='https://signup.heroku.com/login' target='x')
    https://signup.heroku.com/login
    
%h2 Class01 Homework: Software

%p If you are using the VirtualBox training environment, you can skip this section.
%p That environment has all the software you need to do this class.

%p Q: How to install Git?
%p
  A: Download executables from this page:
  %a(href='https://git-scm.com/download' target='x')
    https://git-scm.com/download
  

%p Q: How to install Node.js?
%p
  A: Download executables from this page:
  %a(href='https://nodejs.org/en/download/' target='x')
    https://nodejs.org/en/download/
  
%p Q: How to install Sublime Text 3?
%p
  A: Download executables from this page:
  %a(href='https://www.sublimetext.com/3' target='x')
    https://www.sublimetext.com/3
  
%p Q: How to install Emacs?
%ul
  %li A: Download and install.
  %li
    %a(href='http://ftp.gnu.org/gnu/emacs/windows/emacs-25.3_1-x86_64.zip' target='x')
      http://ftp.gnu.org/gnu/emacs/windows/emacs-25.3_1-x86_64.zip
  %li
    %a(href='https://emacsformacosx.com/' target='x')
      https://emacsformacosx.com/
  

%p Q: How to install Heroku-CLI?
%p A: Download and follow instructions from this URL:
%p
  %a(href='https://devcenter.heroku.com/articles/heroku-cli' target='x')
    https://devcenter.heroku.com/articles/heroku-cli

%p Q: How to deploy https://github.com/danbikle/js410 to heroku?
%ul
  %li From a shell, login to Heroku using Heroku-CLI:
  %li
    .syntax
      %pre
        %code ~/heroku/bin/heroku auth:login
  %li Issue more shell commands:
  %li
    .syntax
      %pre
        %code
          mkdir ~/js/
          cd    ~/js/
          git clone https://github.com/danbikle/js410
          cd js410
          \~/heroku/bin/heroku create js410yourname
          git push heroku master
	  
%h2 Class01 Homework: Browser Debugger

%p Q: How to step through code served by Heroku?
%p A: Study the images and comments below.

%p When you visit your heroku-site with a browser, you should see a blank page.

%p This might confuse you; you might think: "Nothing is there."

%p But, both HTML and JavaScript are there.

%p In my  chrome-browser, I did right-click on the page and then selected Inspect:
%img(src='/class01/db11.png')
%hr/

%p Then I saw some syntax inside that white page:
%img(src='/class01/db13.png')
%hr/

%p I clicked on "Sources" tab near the top:
%img(src='/class01/db15.png')
%hr/

%p I clicked on "index.js" icon near the left:
%img(src='/class01/db17.png')
%hr/

%p I set a "break-point" at line 7; I clicked the round circle in upper left:
%img(src='/class01/db19.png')
%hr/

%p Chrome reloaded the page, started running index.js and stopped at my break-point:
%img(src='/class01/db21.png')
%hr/

%p I used the round-circle on the right to step forward to line 10.
%p After line 10, I used the blue arrow on the right run to the end of the script:
%img(src='/class01/db23.png')
%hr/

%p I clicked the Console tab near the top to look for output from index.js:
%img(src='/class01/db25.png')
%hr/


%p So, that is a quick lesson about how to use the "inspect-feature" inside of chrome.


%h2 Class01 Homework: Small Local Web Server

%p One annoying requirement of browser-JavaScript is that it must be "served" to your browser.

%p If you point your browser at a JavaScript file on your laptop, you cannot run that file.

%p You can, however, see the file. It should look something like this:
%img(src='/class01/file10.png')
%hr/

%p This is inconvenient when you do JavaScript development.

%p A common work-around I use for this problem is to run a small web server on my laptop.
%p Then, I use that web server to serve JavaScript files to my browser.

%p Q: How to run a small web server on my laptop?
%p A: An easy way to do this is to use Node.js
%p I demonstrate shell commands I use to start a Node.js-web-server on my laptop:

%p

  .syntax
    %pre
      %code
        cd    ~/js/js410
        npm i
        node_modules/.bin/http-server

%p When I ran the above shell commands I saw this:

%p
  .syntax
    %pre
      =render 'class01a12'

%p The server is telling me that if I want to stop the server I should:
%p "Hit CTRL-C to stop the server"

%p Well, I do not want to stop the server; I want it to keep running.

%p So, I do not "Hit CTRL-C to stop the server".

%p I see many students make this mistake.

%p Q: How to run the JavaScript served by my laptop?
%p A: After I started the above server on my laptop, I loaded a simple URL:
%p http://localhost:8080

%p I collected some screen-shots.

%p I saw a blank, white page:

%img(src='/class01/lh8080a.png')
%hr/

%p I did right-click then Inspect:

%img(src='/class01/lh8080b.png')
%hr/

%p I saw some syntax behind that white page:

%img(src='/class01/lh8080c.png')
%hr/

%p I clicked sources:

%img(src='/class01/lh8080d.png')
%hr/

%p I clicked index.js:

%img(src='/class01/lh8080e.png')
%hr/

%h2 Class01 Homework: Embedded JavaScript

%p Q: How to embed JavaScript inside an HTML file?
%p A: You will find an example of this technique in the js410 repo:
%p
  %a(href='https://github.com/danbikle/js410/blob/master/index2.html' target='x')
    https://github.com/danbikle/js410/blob/master/index2.html
%p Q: How to step through embedded JavaScript?
%p A: The technique is very similar to how I stepped through index.js
%p I collected some screen-shots.

%p First I load index2.html from the local web server:

%img(src='/class01/lh8080f.png')
%hr/

%p I right click on the blank-white page:

%img(src='/class01/lh8080g.png')
%hr/

%p I see syntax behind the blank page:

%img(src='/class01/lh8080h.png')
%hr/

%p I click sources-tab to see the embeded-JavaScript.
%p I set a break-point before reloading the page:

%img(src='/class01/lh8080i.png')
%hr/


%p Q: How to combine two variables from two different JavaScript files?
%p A: I did this by referring to each variable with embeded-JavaScript:

%p
  %a(href='https://github.com/danbikle/js410/blob/master/index31.js' target='x')
    https://github.com/danbikle/js410/blob/master/index31.js
%p
  %a(href='https://github.com/danbikle/js410/blob/master/index32.js' target='x')
    https://github.com/danbikle/js410/blob/master/index32.js
%p
  %a(href='https://github.com/danbikle/js410/blob/master/index3.html' target='x')
    https://github.com/danbikle/js410/blob/master/index3.html

%img(src='/class01/indexx33.png')
%hr/

%h2 Class01 Homework: Elementary JavaScript Syntax

%p JavaScript is a simple language.

%p When I work with plain JavaScript, I keep a simple file full of syntax examples nearby:
%p
  %a(href='https://github.com/danbikle/js410/blob/master/index33.js' target='x')
    https://github.com/danbikle/js410/blob/master/index33.js

%p Many of the examples I use are listed below.

%p Q: How to create an integer?
%p A:
%p
  .syntax
    %pre
      =render 'index33a'
      
%p Q: How to create an decimal number?
%p A:
%p
  .syntax
    %pre
      =render 'index33b'
      
%p Q: How to understand quotes and strings?
%p A:
%p
  .syntax
    %pre
      =render 'index33c'
      
%p Q: How to create an array?
%p A:
%p
  .syntax
    %pre
      =render 'index33d'
    
%p Q: How to create an object?
%p A:
%p
  .syntax
    %pre
      =render 'index33e'
    
%p Q: How to create Booleans?
%p A:
%p
  .syntax
    %pre
      =render 'index33f'
    
%p Q: How to create functions?
%p A:
%p
  .syntax
    %pre
      =render 'index33g'
    
%p Q: How to create a Date?
%p A:
%p
  .syntax
    %pre
      =render 'index33h'
    
%p Q: How to call some Math functions?
%p A:
%p
  .syntax
    %pre
      =render 'index33i'
    
%p Q: How to demo the new operator?
%p A:
%p
  .syntax
    %pre
      =render 'index33j'
      
%p Q: How to demo if-then-else?
%p A:
%p
  .syntax
    %pre
      =render 'index33k'
    
%p Q: How to demo two types of for-loops?
%p A:
%p
  .syntax
    %pre
      =render 'index33l'
    
%p Q: How to demo a Regular-Expression?
%p A:
%p
  .syntax
    %pre
      =render 'index33m'
    