%h1 Class01

%h1 Introduction

%p Welcome to JavaScript class.

%p If you want to attend lectures, signup here:

%p
  %a(href='https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229  ' target='x')
    https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229

%p If you want a good place to sit, arrive five minutes early (most students are late due to traffic).

%p
  We teach you JavaScript two different ways.
  
%h1 Lecture + Homework

%p First we offer you a lecture at the beginning of each class.

%p Each lecture should show you how to do some homework.

%p After lecture, you should try the homework covered in lecture.

%p We ask you to try the homework AFTER the lecture, not during the lecture.

%p That is the second way we teach you JavaScript.

%p Review Question: How do we teach you JavaScript?
%p Answer: We teach you JavaScript two ways:
%ul
  %li You watch lecture
  %li You do homework

%p Question: In class do I work on "Lab Exercises"?

%p: Answer: Yes, you work on your homework.
%p So, "Lab Exercises" are the same as Homework.

%p Q: When can I do Homework in class?

%p A: Usually the last 60 Minutes of class is devoted to Homework.

%h1 Laptop?
%p Q: Do I need a laptop for class?
%p A: No, we have class computers for you.
%p Q: Should I bring my laptop to class?
%p A: Sure, bring your laptop (but the WIFI is poor).

%p Q: Can you help me setup my laptop to do JavaScript Development?
%p A: Maybe. I have seen hundreds of student laptops over the years.
%p I have learned that about 10% of student laptops are unusable due to viruses and windows bugs.
%p About 10% of Macs are unusable due to insufficient disk space or RAM.
%p Another common problem is small screen.
%p A small screen will slow you down.
%p I might suggest you buy a new 17 inch HP laptop from costco for $600 and then replace windows with Ubuntu 16.04:
%p
  %a(href='https://www.costco.com/HP-17-Touchscreen-Laptop---AMD-A10---2GB-Graphics.product.100378481.html' target='x')
    https://www.costco.com/HP-17-Touchscreen-Laptop---AMD-A10---2GB-Graphics.product.100378481.html

%h1 Class Desktop?

%p Q: Are the class desktop computers good?
%p A: Yes, They have fast CPU, fast SSD drives, and excellent network.
%p I have observed network downloads come in at 70M/sec which is 10x better than my Comcast.

.syntax
  %pre
    =render 'class01a10'

