%h1 Class01

%h1 Introduction

%p Welcome to JavaScript class.

%p If you want to attend lectures, signup here:

%p
  %a(href='https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229  ' target='x')
    https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229

%p If you want a good place to sit, arrive five minutes early (most students are late due to traffic).

%p
  We teach you JavaScript two different ways.
  
%h1 Lecture + Homework

%p First we offer you a lecture at the beginning of each class.

%p Each lecture should show you how to do some homework.

%p After lecture, you should try the homework covered in lecture.

%p We ask you to try the homework AFTER the lecture, not during the lecture.

%p That is the second way we teach you JavaScript.

%p Review Question: How do we teach you JavaScript?
%p Answer: We teach you JavaScript two ways:
%ul
  %li You watch lecture
  %li You do homework

%p Question: In class do I work on "Lab Exercises"?

%p: Answer: Yes, you work on your homework.
%p So, "Lab Exercises" are the same as Homework.

%p Q: When can I do Homework in class?

%p A: Usually the last 60 Minutes of class is devoted to Homework.

%h1 Laptop?
%p Q: Do I need a laptop for class?
%p A: No, we have class computers for you.
%p Q: Do I need a laptop for Homework?
%p A: Yes, or a desktop computer will work too.
%p Q: Should I bring my laptop to class?
%p A: Sure, bring your laptop (but the WIFI is poor).

%p Q: Can you help me setup my laptop to do JavaScript Development?
%p A: Maybe. I have seen hundreds of student laptops over the years.
%p I have learned that about 10% of student laptops are unusable due to viruses and windows bugs.
%p About 10% of Macs are unusable due to insufficient disk space or RAM.
%p Another common problem is small screen.
%p A small screen will slow you down.
%p I might suggest you buy a new 17 inch HP laptop from costco for $600 and then replace windows with Ubuntu 16.04:
%p
  %a(href='https://www.costco.com/HP-17-Touchscreen-Laptop---AMD-A10---2GB-Graphics.product.100378481.html' target='x')
    https://www.costco.com/HP-17-Touchscreen-Laptop---AMD-A10---2GB-Graphics.product.100378481.html
    
%h1 Software?

%p Q: What software do I need to do the Homework?
%ul
  %li A:
  %li Git
  %li Node.js
  %li An editor. "Sublime Text 3" and Emacs are good choices.
  %li Optional: VirtualBox

%h1 Class Desktop?

%p Q: Are the class PCs good?
%p A: Yes, They have fast CPU, fast SSD drives, and excellent network.
%p I have observed network downloads come in at 70M/sec which is 10x better than my Comcast.

%p Q: Can I install windows software on a class PC?
%p A: No, that violates school policy.

%h1 Class01 Homework

%p Q: How to install VirtualBox Software on class PC?
%p A: You don't; The school did this for you already.

%p Q: How to install VirtualBox Software on your laptop?
%p A:
%ul
  %li
    Download page:
    %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
      https://www.virtualbox.org/wiki/Downloads
  %li Download correct file.
  %li Click on that file after download.

%p Q: After I install VirtualBox, how to start it?
%p A: Find the VirtualBox-icon (perhaps on your desktop), click on it.

%p Q: After I install VirtualBox, should I use the blue-New button?
%p A: No, you should AVOID the blue-New button.

%p Q: After I install VirtualBox, should I download the training environment?
%p
  A: Yes, the training environment is here:
  %br/
  %a(href='https://drive.google.com/file/d/1uqhG7LLJl76DS6Mu8BNe5hnzX5URgXVL' target='x')
    ub16_2018_0109.ova
%p Q: How long does it take to download the OVA file over school WIFI?
%p A: About 5 hours.
%p Q: How long does it take to download the OVA file over school ethernet?
%p A: About 5 minutes.

%p Q: How long does it take to download the OVA file over Comcast?
%p A: About one to 3 hours.

%p Q: After I download the OVA, should I click on it?
%p A: Yes, this will "Import" the training environment?

%p Q: After Import, how to start the training environment?
%p A: VirtualBox offers a green-start-button.

%p Q: On windows does the green-start-button often fail?
%p
  A: Yes, the green-start-button might fail.
  %br/
  You might need to enable virtualization.
  %br/
  You enable virtualization via software called: "BIOS"
  %br/
  More info:
  %br
  %a(href='https://www.google.com/search?q=With+BIOS+how+to+enable+Virtualization' target='x')
    https://www.google.com/search?q=With+BIOS+how+to+enable+Virtualization
  %br/
  %a(href='https://www.google.com/search?tbm=isch&q=With+BIOS+how+to+enable+Virtualization' target='x')
    https://www.google.com/search?tbm=isch&q=With+BIOS+how+to+enable+Virtualization
  %br/
  %a(href='https://www.google.com/search?tbm=vid&q=With+BIOS+how+to+enable+Virtualization' target='x')
    https://www.google.com/search?tbm=vid&q=With+BIOS+how+to+enable+Virtualization

%p Q: Can I use windows to do JavaScript development?
%ul
  %li A:
  %li You can try; it is possible.
  %li But, Windows is optimal for developing Windows software; not JavaScript software.
  %li If you are new to JavaScript, Linux makes it easier; Windows makes it harder.
  %li For JavaScript development, Mac is like Linux but much more expensive.
  %li Mac is useful for developing JavaScript destined for iPhones.

%p Q: After I start the training-env, how to login?
%p
  A: You should see a login screen for an account called: "ann"
  %br/
  The password is: "a"
  
%hr/
.syntax
  %pre
    =render 'class01a10'

