%h1 Class01

%h1 Introduction

%p Welcome to JavaScript class.

%p If you want to attend lectures, signup here:

%p
  %a(href='https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229  ' target='x')
    https://register.asapconnected.com/CourseDetail.aspx?CourseId=161229

%p If you want a good place to sit, arrive five minutes early (most students are late due to traffic).

%p
  We teach you JavaScript two different ways.

%p First we offer you a lecture at the beginning of each class.

%p Each lecture should show you how to do some homework.

%p After lecture, you should try the homework covered in lecture.

%p We ask you to try the homework AFTER the lecture, not during the lecture.

%p That is the second way we teach you JavaScript.

%p Review Question: How do we teach you JavaScript?
%p Answer: We teach you JavaScript two ways:
%ul
  %li You watch lecture
  %li You do homework

%p Question: In class do I work on "Lab Exercises"?

%p: Answer: Yes, you work on your homework.
%p So, "Lab Exercises" are the same as Homework.

%p Q: When do I do Homework in class?

%p A: Usually the last 60 Minutes of class is devoted to Homework.


.syntax
  %pre
    =render 'class01a10'

